/* Css for admin page */

.plistawrapper .textlabel {
	width: 230px; 
	display: block; 
	float: left;
	margin: 4px
}

.plistawrapper input {margin: 4px}

.plista_categories li {
	width: 10%;
	float: left;
	display: block
}

.plista_categories {margin: 0 0 60px 0}

.plistaclear {clear: both}
